/* General Container */
.container {
    font-family: "Arial", sans-serif;
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Header */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .breadcrumb {
    font-size: 14px;
    color: gray;
  }
  
  /* Title */
  .title {
    display: flex;
    align-items: center;
    background-color: #34b3f1;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
  }
  
  /* Form */
  .form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
  }
  
  /* Form Group */
  .form-group {
    display: flex;
    flex-direction: column;
    padding: 1px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-size: 13px;
    color: black;
  }
  
  .input,
  .select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 12px;
    background-color: #ffffff;
  }
  
  /* Button */
  .button {
    grid-column: span 1;
    padding: 10px 20px;
    background-color: #34b3f1;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
  
  .button:hover {
    background-color: #138496;
  }


  .table thead th {
    background-color: rgb(165, 164, 164); /* Gray color for the table header */
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
    position: sticky;
    top: 0;
    z-index: 3;
  }
  
  .table tbody tr:first-child {
    position: sticky;
    top: 35px; /* Adjust this value based on your header height */
    background-color: #ffffff; /* Keeps the first row visible */
    z-index: 2;
  }


  .table th {
    background-color: rgb(165, 164, 164); /* Gray color for the table header */
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
  }

  .table-container {
    margin-top: 5px;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 300px; /* Adjust the height as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .table td {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
  }
  .table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.select{
  padding: 10px;
}
.input{
  padding: 10px;
}

  