.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/background.jpg');
  position: fixed;
  margin-top: 50px;
}

.loginSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem;
  background: #f8f9fa;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 20px;
  border-radius: 10px;
  position: fixed;
}

.imageSection {
  flex: 1.5;
  background-image: url('./assets/welcome1.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 1rem;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-left: 40px;
  margin-right: 40px;
  overflow: hidden; 
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.label {
  font-weight: none;
  font-size: 17px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 15px;
  margin-top: px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* .selectInput {
  width: 106%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
  appearance: none;
} */

.passwordContainer {
  position: relative;
}

.hideIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.captchaContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.captcha {
  background: black;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

.refreshButton {
  background: none;
  border: none;
  cursor: pointer;
}

.submitButton {
  width: 100%;
  padding: 17px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;

}

.submitButton:hover {
  background: #0056b3;
}

.checkboxContainer {
  margin-bottom: 25px;
}

.link {
  color: #007bff;
  text-decoration: underline;
}

.welcomeTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcomeText {
  font-size: 16px;
}
